[Unit]
Description=Prepare autologin at first boot
ConditionFirstBoot=yes
Wants=first-boot-complete.target
Before=first-boot-complete.target

[Service]
Type=oneshot
ExecStart=/usr/bin/autologin-firstboot.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target