[Unit]
Description=Prepare autologin at first boot
ConditionFileNotEmpty=!/etc/machine-id
Wants=greetd.service
Before=greetd.service

[Service]
Type=oneshot
ExecStart=/usr/bin/autologin-firstboot.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target