[Unit]
Description=HMI Daemon Service
After=network.target
ConditionPathExists=/mnt/app/hmidaemon

[Service]
User=hmidaemon
WorkingDirectory=/mnt/app_data/current
EnvironmentFile=/mnt/app/hmidaemon.env
ExecStartPre=+chown -R hmidaemon:hmidaemon /mnt/app_data/current
ExecStart=-/usr/bin/sh -c "/mnt/app/hmidaemon"

[Install]
WantedBy=multi-user.target
